@charset "UTF-8";
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        /* 공통 스타일 */
        .notification-container {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #f1f1f1;
        }

        .notification-card {
            background-color: #fafafa;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 20px;
            max-width: 470px;
            width: 100%;
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        .unread {
            font-weight: bold;
            color: #e74c3c;
            margin-bottom: 10px;
        }

        .message {
            font-size: 18px;
            margin-bottom: 10px;
            color: #444;
            font-weight:bold; 
        }

        .createdAt {
            font-size: 14px;
            color: #0e5e16;
            top: 30px;
		    position: relative;
        }

        .readYn {
            font-size: 14px;
            color: #5715C9;
            position: relative;
 		    top: 35px;
        }
        .noticeButton{
        	width:430px;
        	height:200px;
        	background-color: #85599494;
        	border: 0px;
        	border-radius:10px;
        	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        }
        .noticeButton:hover{
        	
        	background-color: #85599457;
        }
        .noticeButton:active{
        	
        	background-color: #85599475;
        }
        
        form {
        margin-bottom: 1em; 
        }
        
        .paging{
        display:flex;
    	justify-content: center;	
  		}	
  		
  		span {
	margin: 3px;
}

		ul {
		
		list-style: none;
		padding-left:0px;
	
}

.button-d{
	z-index:1;
	position:relative;
	top:50px;
	height: 30px;
	width: 30px;
	margin: 10px;
	
}

.bcon{
	top: 30px;
}

.button-db{
	z-index:1;
	position:relative;
	top:200px;
	font-style: 
}
.button-db:hover{
	color: #988fb2 !important;
}
.button-db:focus{

    box-shadow: -4px -4px 1px 0.2rem rgb(88 0 255 / 25%) !important;
}
}

input[type=checkbox],input[type=radio]
{padding: 10px; margin: 10px;
	
}

.btn:hover {
	color:#855994 !important;
}