<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="file">
	<insert id="insertFile" parameterType="FileDto">
		insert into goods_file values (#{url}, (select max(goods_id) from goods))
	</insert>
	
	<select id="goodsImageList" parameterType="_int" resultType="FileDto">
		select url, goods_id, SUBSTR(url, INSTR(url, '/', -1) + 1) AS file_name from goods_file where goods_id = #{goodsId}
	</select>
</mapper>
