<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pay">

	<select id="checkGoodsStatus" resultType="_int">
		select status from goods where goods_id=#{goodsId}
	</select>
	
	<update id="cancelSafeTrading" parameterType="string">		<!-- 11P 안전거래 결제취소, 레코드는 삭제하지 않고 거래상태 업데이트 -->
		update safe_trading 
		set trading_status=5 
		where transaction_id= #{transactionId}
	</update>
	
	<update id="updateStatus" parameterType="map"> <!-- 23P 상품상태변경 -->
			update goods set 
			status=#{status} 
			where goods_id=#{goodsId}
	</update>
	
	<select id="checkId" resultType="string" parameterType="string">
		select buyer_id from safe_trading where transaction_id=#{transactionId}
	</select>
	
	<select id="getGoodsId" parameterType="string" resultType="_int">
		select goods_id from goods join safe_trading using (goods_id) where transaction_id=#{transactionId}
	</select>
	
	<update id="closeSafeTrading" parameterType="string">		<!-- 11P 거래확정, 거래상태 업데이트 -->
		update safe_trading set trading_status=4 
		where transaction_id= #{transactionId}
	</update>
	
	<update id="changeStatus" parameterType="map">	<!-- 안전거래 거래상태 변경 -->
		update safe_trading s set trading_status=#{status}
		where transaction_id= #{transactionId} and (select user_id from goods g where s.goods_Id=g.goods_Id)=#{userId}
	</update>
	
	<select id="getAmount" parameterType="_int" resultType="_int">	<!-- 결제시 가격확인을 위한 쿼리문 -->
		select price from goods where goods_id=#{goodsId}
	</select>
	
	<select id="getGoodsInfo" parameterType="_int" resultType="GoodsPayInfoDto"> 		<!-- 48P 결제창 들어갈때 가지고 들어갈 상품정보 -->
		select goods_id, title, price	
			   from goods
			   where goods_id=#{goodsId}
	</select>
	
	<select id="getUserAddressList" parameterType="string" resultType="UserAddressDto">	<!-- 48P 결제창 들어갈때 가지고 들어갈 유저주소들 -->
		select detail_address, post_code, road_address, address_nickname,address_no
			   from user_address
			   where user_id=#{userId}
			   order by address_no
	</select>
	
	<select id="getUserInfo" parameterType="string" resultType="PayUserInfoDto"> 		<!-- 48P 결제창 들어갈때 유저정보-->
		select name,mobile_number from users
			   where user_id=#{userId}
	</select>
	
	<insert id="addSafeTrading" parameterType="InsertSafeTradingDto">	<!-- 49P 새로운 안전결제 레코드 생성 -->
		insert into safe_trading 
		(transaction_id,buyer_id,goods_id,purchase_method,goods_title,price,trading_date,trading_status,detail_address,road_address) 
		values(#{transactionId},#{buyerId},#{goodsId},#{purchaseMethod},#{goodsTitle},#{price},systimestamp,1,#{detailAddress},#{roadAddress})
	</insert>
	
</mapper>
