<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="region">
	<select id="guList" resultType="GuDto">
		select * from gu
	</select>
	<select id="dongList" resultType="DongDto">
		select * from dong
	</select>
	
	<select id="dongListUsingGuId" resultType="DongDto">
		select * from dong where gu_id=#{guId}
	</select>
</mapper>
