<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">

	<insert id="reportGoods"> 	<!--11P 상품 신고하기 -->
		insert into goods_report values(#{refId},#{reporterId},#{writer},#{content},#{reportCategory}) 
	</insert>
	
	<insert id="reportBoard">	<!-- 커뮤니티글 신고하기 -->
		insert into community_report values(#{refId},#{reporterId},#{writer},#{content},#{reportCategory})
	</insert>
	
	<insert id="reportComment">	<!-- 댓글 -->
		insert into comment_report values(#{refId},#{reporterId},#{writer},#{content},#{reportCategory})
	</insert>
	
	
</mapper>
