<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="trade">
	<insert id="addSafeTrading" parameterType="_int">		<!-- 새로운 안전결제 레코드 생성 -->
		insert into safe_trading values("",#{sellerId},#{buyerId},#{goodsId},#{perchaseMethod},#{goodsTitle},#{price},#{tradingDate},1,#{shippingAddress},#{mobileNumber})
	</insert>
	
	<update id="cancelSafeTrading" parameterType="_int">		<!-- 11P 안전거래 결제취소, 레코드는 삭제하지 않고 거래상태 업데이트 -->
		update safe_trading 
		set trading_tatus=5 
		where transaction_id=#{transactionId}
	</update>
	
	<update id="acceptSafeTrading" parameterType="_int">		<!-- 안전거래 수락, 상품준비중으로 거래상태 업데이트 -->
		update safe_trading 
		set trading_tatus=2 
		where transaction_id=#{transactionId}
	</update>
	
	<update id="updateTrackingNumber" parameterType="map">		<!-- 안전거래번호와 운송장번호를 인자로하여, 운송장번호와 거래상태 업데이트 -->
		update safe_trading 
		set trading_status=3,tracking_number=#{trackingNumber} 
		where transaction_id=#{transactionId}
	</update>
	
	<update id="closeSafeTrading" parameterType="_int">		<!-- 11P 거래확정, 거래상태 업데이트 -->
		update safe_trading set trading_tatus=4 
		where transaction_id=#{transactionId}
	</update>

	<select id="getSafePurchaseInfo" parameterType="string">	<!-- 11P 안전거래 상세정보 가져오기 -->
		select goods_id,(select goods_title,user_id seller_id from goods g where g.goods_id= s.goods_id),
			   buyer_id,(select mobile_number,name from user u where u.user_id=s.buyer_id), 
			   shipping_address, price, trading_date, trading_status, tracking_number 
			   from safe_trading s
			   where transaction_id=#{transactionId}
	</select>
	
	<select id="getSafePurchaseList" parameterType="string" resultType="SafeTradingDto">	<!-- 9P 안전거래 구매내역(회원) 불러오기 -->
		select 	transaction_id,goods_title,trading_status,s.price,trading_date 
		from safe_trading s join goods g using (goods_id)
		where buyer_id=#{buyerId} 
		order by trading_date DESC;
	</select>
	
	<select id="getInfacePurchaseList" parameterType="string" resultType="SafeTradingDto"> <!-- 9P 직거래 구매내역(회원) 불러오기 -->
		select in_face_trading_id,goods_title,trading_status,i.price,trading_date 
		from in_face_trading i join goods g using (goods_id)
		where buyer_id=#{buyerId} 
		order by trading_date DESC;
	</select>
	
	<select id="adminGetInfacePurchaseList">	<!-- 33P 직거래 조회(관리자) -->
		select goods_id,(select user_id seller_id,goods_title from goods g where g.goods_id=i.goods_id),buyer_id 
		from in_face_trading i
		order by trading_date desc
	</select>
	
	<select id="adminGetSearchTitleInfacePurchaseList" parameterType="string">	<!-- 33P 직거래 조회 상품명(관리자) -->
		select goods_id,(select user_id seller_id,goods_title from goods g where g.goods_id=i.goods_id),buyer_id 
		from in_face_trading i
		where goods_title like #{searchWord}
		order by trading_date desc
	</select>
	
	<select id="adminGetSearchIdInfacePurchaseList" parameterType="string">	<!-- 33P 직거래 조회 상품ID(관리자) -->
		select goods_id,(select user_id seller_id,goods_title from goods g where g.goods_id=i.goods_id),buyer_id 
		from in_face_trading i
		where goods_id like #{searchWord}
		order by trading_date desc
	</select>
	<select id="adminGetSearchUserInfacePurchaseList" parameterType="string">	<!-- 33P 직거래 조회 회원ID(관리자) -->
		select goods_id,goods_title,seller_id,buyer_id
		from in_face_trading
		where seller_id like #{searchWord}
		order by trading_date desc
	</select>
	
	<select id="adminGetInfaceTradingInfo" parameterType="string">	<!-- 34P 직거래 세부조회 새로운 INDEX생성필요 -->
		select inface_trading_id,goods_id,seller_id,buyer_id,price,trading_date,trading_status
		from in_face_trading join goods using (goods_id)
		where IN_FACE_TRADING_ID = #{inFaceTradingId}
	</select>
	
	<select id="adminGetSafeTradingList">	<!-- 35P 안전거래조회(관리자) -->
		select transaction_id,title goods_title,seller_id,trading_status
		from safe_trading join goods using (goods_id)
		order by trading_date desc
	</select>
	
	<select id="adminGetSearchSafeTradingList" parameterType="string"><!-- 35P 안전거래조회(관리자) 검색(안전거래번호) -->
		select transaction_id,title goods_title,user_id seller_id,trading_status
		from safe_trading join goods using (goods_id)
		order by trading_date desc
		where transaction_id=#{searchWord}
	</select>
		<select id="adminGetSearchSafeTradingList" parameterType="string"><!-- 35P 안전거래조회(관리자) 검색(판매자ID) -->
		select transaction_id,title goods_title,user_id seller_id,trading_status
		from safe_trading join goods using (goods_id)
		order by trading_date desc
		where user_id=#{searchWord}
	</select>
	<select id="adminGetSearchSafeTradingList" parameterType="string"><!-- 35P 안전거래조회(관리자) 검색(상품명) -->
		select transaction_id,title goods_title,user_id seller_id,trading_status
		from safe_trading join goods using (goods_id)
		order by trading_date desc
		where title=#{searchWord}
	</select>
	<select id="adminGetSafeTradingInfo">	<!-- 36P 안전거래 세부조회(관리자) -->
		select s.transaction_id, g.user_id seller_id, s.buyer_id, g.title, s.price, s.shipping_address, trading_date, tracking_number
		from safe_trading join goods using (goods_id)
		where transaction_id = #{transactionId}
	</select>
</mapper>
