<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="trade">
	<update id="cancelSafeTrading" parameterType="_int">		<!-- 11P 안전거래 결제취소, 레코드는 삭제하지 않고 거래상태 업데이트 -->
		update safe_trading 
		set trading_tatus=5 
		where transaction_id=#{transactionId}
	</update>
	
	<update id="acceptSafeTrading" parameterType="_int">		<!-- 안전거래 수락, 상품준비중으로 거래상태 업데이트 -->
		update safe_trading 
		set trading_tatus=2 
		where transaction_id=#{transactionId}
	</update>
	
	<update id="updateTrackingNumber" parameterType="map">		<!-- 안전거래번호와 운송장번호를 인자로하여, 운송장번호와 거래상태 업데이트 -->
		update safe_trading 
		set trading_status=3,tracking_number=#{trackingNumber} 
		where transaction_id=#{transactionId}
	</update>
	
	<update id="closeSafeTrading" parameterType="_int">		<!-- 11P 거래확정, 거래상태 업데이트 -->
		update safe_trading set trading_tatus=4 
		where transaction_id=#{transactionId}
	</update>

	<select id="getSafePurchaseInfo" parameterType="string" resultType="SafePurchaseInfoDomain">	<!-- 11P 안전거래 상세정보 가져오기 -->
		select goods_id,(select goods_title,user_id seller_id from goods g where g.goods_id= s.goods_id),
			   buyer_id,(select mobile_number,name from user u where u.user_id=s.buyer_id), 
			   shipping_address, price, trading_date, trading_status, tracking_number 
			   from safe_trading s
			   where transaction_id=#{transactionId}
	</select>
	
	<select id="getSafePurchaseList" parameterType="string" resultType="SafeTradingDto">	<!-- 9P 안전거래 구매내역(회원) 불러오기 -->
		select 	goods_id,transaction_id,goods_title,trading_status,s.price,trading_date 
		from safe_trading s join goods g using (goods_id)
		where buyer_id=#{buyerId} 
		order by trading_date DESC;
	</select>
	
	<select id="getInfacePurchaseList" parameterType="string" resultType="InFaceTradingDto"> <!-- 9P 직거래 구매내역(회원) 불러오기 -->
		select goods_id,in_face_trading_id,goods_title,trading_status,i.price,trading_date 
		from in_face_trading i join goods g using (goods_id)
		where buyer_id=#{} 
		order by trading_date DESC;
	</select>
	
	<insert id="addSafeTrading" parameterType="SafeTradingDto">	<!-- 49P 새로운 안전결제 레코드 생성 -->
		insert into safe_trading 
		(transaction_id,buyer_id,goods_id,perchase_method,price,trading_date,trading_status,shpping_address) 
		values(transaction_id.nextval,#{buyerId},#{goodsId},#{perchaseMethod},#{price},
		#{tradingDate},1,#{shippingAddress})
	</insert>

</mapper>
