.personal1 {
	position: absolute;
	left: 850px;
	top: 35px;
}

.personal2 {
	position: absolute;
	left: 980px;
	top: 35px;
}

.btn1 {
	background-color: #7fad39; /* 파란색 배경 */
	color: white; /* 흰색 글자색 */
}

.btn-top {
	display: flex;
	justify-content: center;
	padding-top: 35px;
}

.personal {
	margin: 0 50px 0 50px;
}
  	.searchWord {
		text-align: center;
		margin-top: 20px;
	}
	
	.searchWord form{
	display: flex;
	

	}
	
	.searchWord input[type="search"] {
		height: 49px;
		width: 250px;
		border-radius: 5px 0 0 5px;
		background-color: white;
		color: black;
		border: 1px solid #bbb1d6;
	}
	
	.searchWord input[type="submit"] {
		color: white;
		background-color: #835995;
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
		padding: 10px 20px;
		border-radius: 0 5px 5px 0;
		margin: 0 auto;
	}
	
	.searchWord input[type="submit"]:hover {
		background-color:#835995C9;
		color: white;
		text-decoration: none;
	}
	
	/* 페이징 위치 및 디자인 */
	.paging {
		text-align: center;
		margin-top: 20px;
	}
	
	.paging a {
		background-color: #835995;
		text-decoration: none;
		margin: 0 10px;
		font-size: 16px;
		font-weight: bold;
		padding: 5px 10px;
		border-radius: 5px;
	}
	
	.paging span {
		color: white;
		margin: 0 10px;
		font-size: 16px;
	}
	
	.paging a:hover {
		background-color:black;
		color: white;
		text-decoration: none;
	}
	
	/* 페이지 번호 활성화 스타일 */
	.paging .active {
		background-color: #FFC107;
		color: #1E1E1E;
		border: 1px solid #FFC107;
		border-radius: 5px;
	}
	
	.safeTrading, .infaceTrading {
		color: white;
		background-color: #835995;
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
		padding: 10px 20px;
		border: 1px solid #bbb1d6;
		border-radius: 5px;
		margin: 0 auto;
	}
	
	.safeTrading:hover, .infaceTrading:hover {
		background-color:#835995C9;
		color: white;
		text-decoration: none;
	}
	
	.margin10{
		margin:30px 0 30px 0;
	}
	
	.fa-facebook, .fa-instagram, .fa-twitter, .fa-pinterest{
	position: relative;
	top:12px;
}